@charset "UTF-8";

@font-face {
  font-family: "socialicious-ext";
  src:url("/assets/fonts/socialicious-ext.eot");
  src:url("/assets/fonts/socialicious-ext.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/socialicious-ext.woff") format("woff"),
    url("/assets/fonts/socialicious-ext.ttf") format("truetype"),
    url("/assets/fonts/socialicious-ext.svg#socialicious-ext") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "socialicious-ext" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "socialicious-ext" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bebo:before {
  content: "\61";
}
.icon-bebo-sign:before {
  content: "\62";
}
.icon-behance:before {
  content: "\63";
}
.icon-behance-sign:before {
  content: "\64";
}
.icon-bread:before {
  content: "\65";
}
.icon-bread-sign:before {
  content: "\66";
}
.icon-digg:before {
  content: "\67";
}
.icon-digg-sign:before {
  content: "\68";
}
.icon-disqus:before {
  content: "\69";
}
.icon-disqus-sign:before {
  content: "\6a";
}
.icon-dribbble:before {
  content: "\6b";
}
.icon-dribbble-sign:before {
  content: "\6c";
}
.icon-facebook:before {
  content: "\6d";
}
.icon-facebook-sign:before {
  content: "\6e";
}
.icon-flickr:before {
  content: "\6f";
}
.icon-flickr-sign:before {
  content: "\70";
}
.icon-github:before {
  content: "\71";
}
.icon-github-sign:before {
  content: "\72";
}
.icon-goodreads:before {
  content: "\73";
}
.icon-goodreads-sign:before {
  content: "\74";
}
.icon-googleplus:before {
  content: "\75";
}
.icon-googleplus-sign:before {
  content: "\76";
}
.icon-instagram:before {
  content: "\77";
}
.icon-instagram-sign:before {
  content: "\78";
}
.icon-klout:before {
  content: "\79";
}
.icon-klout-sign:before {
  content: "\7a";
}
.icon-lastfm:before {
  content: "\41";
}
.icon-lastfm-sign:before {
  content: "\42";
}
.icon-linkedin:before {
  content: "\43";
}
.icon-linkedin-sign:before {
  content: "\44";
}
.icon-pinterest:before {
  content: "\45";
}
.icon-pinterest-sign:before {
  content: "\46";
}
.icon-pocket:before {
  content: "\47";
}
.icon-pocket-sign:before {
  content: "\48";
}
.icon-quora:before {
  content: "\49";
}
.icon-quora-sign:before {
  content: "\4a";
}
.icon-spotify:before {
  content: "\4b";
}
.icon-spotify-sign:before {
  content: "\4c";
}
.icon-stumbleupon:before {
  content: "\4d";
}
.icon-stumbleupon-sign:before {
  content: "\4e";
}
.icon-techendo:before {
  content: "\4f";
}
.icon-techendo-sign:before {
  content: "\50";
}
.icon-tumblr:before {
  content: "\51";
}
.icon-tumblr-sign:before {
  content: "\52";
}
.icon-twitter:before {
  content: "\53";
}
.icon-twitter-sign:before {
  content: "\54";
}
.icon-vevo:before {
  content: "\55";
}
.icon-vevo-sign:before {
  content: "\56";
}
.icon-vimeo:before {
  content: "\57";
}
.icon-vimeo-sign:before {
  content: "\58";
}
.icon-wordpress:before {
  content: "\59";
}
.icon-wordpress-sign:before {
  content: "\5a";
}
.icon-yelp:before {
  content: "\30";
}
.icon-yelp-sign:before {
  content: "\31";
}
.icon-youtube:before {
  content: "\32";
}
.icon-youtube-sign:before {
  content: "\33";
}
.icon-aboutme:before {
  content: "\34";
}
.icon-aboutme-sign:before {
  content: "\35";
}
.icon-angellist:before {
  content: "\36";
}
.icon-socialicious-3:before {
  content: "\37";
}
.icon-dropbox:before {
  content: "\38";
}
.icon-dropbox-sign:before {
  content: "\39";
}
.icon-meetup:before {
  content: "\21";
}
.icon-meetup-sign:before {
  content: "\22";
}
.icon-medium:before {
  content: "\23";
}
.icon-medium-sign:before {
  content: "\24";
}
.icon-foursquare:before {
  content: "\25";
}
.icon-foursquare-sign:before {
  content: "\26";
}
.icon-yahoo:before {
  content: "\27";
}
.icon-yahoo-sign:before {
  content: "\28";
}
.icon-soundcloud:before {
  content: "\29";
}
.icon-soundcloud-sign:before {
  content: "\2a";
}
.icon-mal:before {
  content: "\2b";
}
.icon-mal-sign:before {
  content: "\2c";
}
.icon-reddit:before {
  content: "\2d";
}
.icon-reddit-sign:before {
  content: "\2e";
}
